<div class="container">
    <div class="header">
        <img class="logo" src="../../assets/img/LOGOOO.png" alt="logo">
        <a href="/tabs/tab1"><svg  class="close" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <rect width="100%" height="100%" fill="black" />
            <path
                d="M22.5 4.742C24.9783 6.17287 26.9153 8.38154 28.0104 11.0254C29.1056 13.6694 29.2977 16.6007 28.557 19.365C27.8164 22.1292 26.1843 24.5718 23.9139 26.3139C21.6435 28.056 18.8617 29.0003 16 29.0003C13.1383 29.0003 10.3565 28.056 8.08611 26.3139C5.81573 24.5718 4.18364 22.1292 3.44297 19.365C2.70229 16.6007 2.89443 13.6694 3.98957 11.0254C5.08471 8.38154 7.02166 6.17287 9.5 4.742M16 3V13"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg></a>
    </div>
    <div class="body">

        <div class="phase1">
            <div>
                <button class="cartelera"> Ver Cartelera </button>
            </div>
        </div>
        <h1> Descubre las mejores peliculas </h1>
        <div class="phase2">
            <div class="cartel-img-1">
                <div class="estreno-cart">
                    <div class="estreno">Estreno</div>
                    <svg class="star" width="20" height="19" viewBox="0 0 20 19" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.2584 14.8419L10 14.686L9.74163 14.8419L4.57613 17.9596L5.94693 12.0836L6.01549 11.7897L5.78739 11.5921L1.22308 7.63803L7.23227 7.12821L7.5327 7.10272L7.65036 6.82511L10 1.2813L12.3496 6.82511L12.4673 7.10272L12.7677 7.12821L18.7769 7.63803L14.2126 11.5921L13.9845 11.7897L14.0531 12.0836L15.4239 17.9596L10.2584 14.8419Z"
                            fill="white" stroke="white" />
                    </svg>
                </div>
                <div class="r">
                    <div class="r2">R</div>
                </div>
                <div class="peli-img">
                    <a href="/tabs/tab3"><img class="image-3" src="../../assets/img/pan-Exor.jpg" /></a>
                </div>
                <div class="info">
                    <div class="_15-a-os">+15 años</div>
                    <div class="el-exorcista-creyente">El Exorcista Creyente</div>
                </div>
            </div>
            <div class="cartel-img-2">
                <a href="/tabs/tab4"><img class="image-4" src="../../assets/img/pan-SawX.jpg" /></a>
                <div class="_18-a-os">+18 años<br /><br /></div>
                <div class="saw-x">SAW X</div>
            </div>   
        </div>
    </div>
</div>