<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/img/LOGOOO.png" alt="logo">
    <a href="/tabs/tab2"><svg class="home" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24">
        <path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8h5z" />
      </svg></a>
    <div class="cuerpo">
      <img class="img" src="../../assets/img/img-SawX.jpg" alt="exo">
      <div class="body">
        <div class="buy">
          <div class="buy2">BUY</div>
        </div>
        <div class="time-movie">
          <div class="r">
            <div class="r2">R</div>
          </div>
          <svg
            class="clock"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 0C8.68678 0 7.38642 0.258658 6.17317 0.761205C4.95991 1.26375 3.85752 2.00035 2.92893 2.92893C1.05357 4.8043 0 7.34784 0 10C0 12.6522 1.05357 15.1957 2.92893 17.0711C3.85752 17.9997 4.95991 18.7362 6.17317 19.2388C7.38642 19.7413 8.68678 20 10 20C12.6522 20 15.1957 18.9464 17.0711 17.0711C18.9464 15.1957 20 12.6522 20 10C20 8.68678 19.7413 7.38642 19.2388 6.17317C18.7362 4.95991 17.9997 3.85752 17.0711 2.92893C16.1425 2.00035 15.0401 1.26375 13.8268 0.761205C12.6136 0.258658 11.3132 0 10 0ZM14.2 14.2L9 11V5H10.5V10.2L15 12.9L14.2 14.2Z"
              fill="white"
            />
          </svg>
      
          <div class="_2-h-00-min">2h 00min</div>
        </div>
        <div class="info">
          <div class="saw-x">SAW X</div>
          <div class="_18-a-os">+18 años<br /><br /></div>
          <div class="esp">Esp</div>
        </div>
      </div>
      
      <div class="sinopsis">
        <h1> Sinopsis </h1>
        <p> John Kramer (Tobin Bell) está de vuelta. La entrega más perturbadora de la franquicia de SAW explora el capítulo nunca antes contado del juego más personal de Jigsaw. Toma lugar entre los eventos ocurridos de SAW I (El juego del miedo) y SAW II (El juego del miedo 2), un enfermo y desesperado John viaja a México por un arriesgado y experimental procedimiento médico con la esperanza de encontrar milagrosamente una cura para su cáncer – solo para descubrir que toda la operación es una estafa y defrauda a los más vulnerables.</p>
      </div>
    </div>
  </div>
</div>